<section class = "datavis-presentation">
    <h1>Data Visualisation</h1>
	<hr/>
	<p>What follows are a few examples of data visualisation using the best design techniques 
		present in the market right now.
	</p>
	<ul>
		<li>SCSS</li>
		<li>Generated content</li>
		<li>Display Flex</li>
	</ul>

</section>

<section id = "quote-container" class = "quote-container">
	<div id="quote" class ="quote">
		<blockquote id="blockquote">
		{{{quote}}}
		</blockquote>
		<h3 id = "quoter">{{{quoter}}}</h3>
	</div>
	<button title="Get a random quote!" id="change-quote" ><i class="fa fa-random"></i>

</button>
</section>

<section class = "tmdb-container" style = "background-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)), url('http://image.tmdb.org/t/p/w780/\{{movie.backdrop_path}}')">
	
	<div class = "movie-search-container">		
		<input type="text" id = "movie-search" />
		<button ng-click = "searchMovie()">Search movie</button>
	</div>
	<div>
		<h1 ng-bind = "movie.original_title"></h1>
		<p>\{{movie.release_date | date : "'Released on ' MMMM d, y"}}</p>
		<p>\{{movie.overview}}</p>
		<img ng-src = "http://image.tmdb.org/t/p/w185/\{{movie.poster_path}}"/>
	</div>
	<a href="https://www.themoviedb.org/?language=en"><p class = "tmdb-source">Courtesy of TMDB</p></a>
</section>

<section class = "google-books-container">	
	<div class = "the-book">
		<div class ="book-background">
			<div style = "background-image: linear-gradient(to left, rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url('{{waves.imageLinks.small}}')"></div>
		</div>
		
		<div class = "the-book-description">
			<h1>{{waves.title}}</h1>
			<span>{{waves.authors}}</span>
			<p>{{waves.description}}</p>
			<div class = "book-data-flex">
				<div>
					<h3>Categories:</h3>
					<ul>
					{{#each waves.categories}}
						<li>{{this}}</li>
					{{/each}}
					</ul>
				</div>
				<div>
					<p>Publisher: {{waves.publisher}}</p>
					<p>Page count: {{waves.pageCount}}</p>
					<p>ISBN: {{waves.industryIdentifiers.0.identifier}}</p>
				</div>
				
				
			</div>
			
		</div>

		<img src="{{waves.imageLinks.small}}"/>
		
	</div>


</section>