<section class = "home-presentation">
	<h1>Welcome to M.V. Burlando's website!</h1>
	<hr/>
	<p>This website is written completely in Node.js Express using Handlebars and it's
going to host some pretty nice features. It's hosted on an EC2 instance running on AWS with a DNS registration at
Aruba using the domain name www.mvburlando.cloud.</p>
</section>

<section id = "quote-container" class = "quote-container">
	<div id="quote" class ="quote">
		<blockquote id="blockquote">
		{{{quote}}}
		</blockquote>
		<h3 id = "quoter">{{{quoter}}}</h3>
	</div>
	<button title="Get a random quote!" id="change-quote" ><i class="fa fa-random"></i>

</button>
</section>

<section class = "google-books-container">	
	<div class = "the-book">
		<div class ="book-background">
			<div style = "background-image: linear-gradient(to left, rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url('{{waves.imageLinks.small}}')"></div>
		</div>
		
		<div class = "the-book-description">
			<h1>{{waves.title}}</h1>
			<span>{{waves.authors}}</span>
			<p>{{waves.description}}</p>
			<div class = "book-data-flex">
				<div>
					<h3>Categories:</h3>
					<ul>
					{{#each waves.categories}}
						<li>{{this}}</li>
					{{/each}}
					</ul>
				</div>
				<div>
					<p>Publisher: {{waves.publisher}}</p>
					<p>Page count: {{waves.pageCount}}</p>
					<p>ISBN: {{waves.industryIdentifiers.0.identifier}}</p>
				</div>
				
				
			</div>
			
		</div>

		<img src="{{waves.imageLinks.small}}"/>
		
	</div>


</section>
